<div id="uploadparts">
  <div class="row">
    <div class="col-sm-6">
      <label for="inputState">No.of Ref</label>
      <select id="inputState" class="form-control" (change)="selectchange($event)">
          <option value="0" selected="selected">Select RFQ Reference</option> 
          <option *ngFor="let AddRfqForm of rfqlist" [value]="AddRfqForm.Id" >{{AddRfqForm.rfq_reference}}</option>
      </select>
    </div>
    <div class="col-sm-6">
      <label>Date</label>
      <input type='Date' class="form-control">
    </div>
  </div>
  <div id="table">
    <table  datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered">
      <thead class="table-info">
        <tr>
          <th>S.No</th>
          <th>Reference Number</th>
          <th>Ref S.NO</th>
          <th>Parts No</th>
          <th>1/L Parts No</th>
          <th>NSN</th>
          <th>Noumenclature</th>
          <th>UOI</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Addmanual of manuallist">
          <td>{{Addmanual.SNo}}</td>
          <td>{{Addmanual.rfq_reference}}</td>
          <td>{{Addmanual.RefSNO}}</td>
          <td>{{Addmanual.PartNo}}</td>
          <td>{{Addmanual.LPartNo}}</td>
          <td>{{Addmanual.NSN}}</td>
          <td>{{Addmanual.Noumenclature}}</td>
          <td>{{Addmanual.UOI}}</td>
          <td>{{Addmanual.Quantity}}</td>
        </tr>
      </tbody>
      <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>   -->
    </table>
  </div>
  <div class="row">
    <div class="col-sm-3 offset-sm-3">
      <button type="button" class="btn btn-primary btn-block form-control">Upload file</button>

    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-danger btn-block form-control" data-toggle="modal" data-target="#exampleModal">Add
        Manual</button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="AddmanualForm" (ngSubmit)="Save($event)">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Upload Parts</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


          <div class="form-group row">
            <input type="text" formControlName="Id" style="display:none;">
          </div>
          <div class="form-group row">
              <label>RFQ Reference</label>
                <input type="text"  class="form-control" formControlName="rfq_reference" placeholder={{dropdownvalue}} disabled>  
                              
            </div>
          <div class="form-group row">
            <label>Ref S.NO </label>
              <input type="text" class="form-control" formControlName="RefSNO" placeholder="Ref S.NO">
          </div>
          
          <div class="form-group row">
            <label>Part No.</label>
              <input type="text" class="form-control" formControlName="PartNo" placeholder="Part No.">          
          </div>

          <div class="form-group row">
            <label>1/L Part No. </label>
              <input type="text" class="form-control" formControlName="LPartNo" placeholder="1/L Part No.">
          </div>

          <div class="form-group row">
            <label>NSN</label>
              <input type="text" class="form-control" formControlName="NSN" placeholder="NSN">
          </div>

          <div class="form-group row">
            <label>Noumenclature</label>
              <input type="text" class="form-control" formControlName="Noumenclature" placeholder="Noumenclature">
          </div>

          <div class="form-group row">
            <label>UOI</label>
              <input type="text" class="form-control" formControlName="UOI" placeholder="UOI">
          </div>


          <div class="form-group row">
            <label>Quantity</label>
              <input type="text" class="form-control" formControlName="Quantity" placeholder="Quantity">
          </div>


          <div class="form-group row">
            <label>Condition</label>
              <input type="text" class="form-control"  placeholder="Condition">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"  (click)="Save($event)" routerLink="/dashboard/uploadparts">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>